<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IssueTracker.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1C78D0797881AC09651E7BBD6FBA97145AF4CBAC</string>
				<key>dateExpires</key>
				<string>2021/09/11</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1C78D0797881AC09651E7BBD6FBA97145AF4CBAC</string>
						<key>dateExpires</key>
						<string>2021/09/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1C78D0797881AC09651E7BBD6FBA97145AF4CBAC</string>
						<key>dateExpires</key>
						<string>2021/09/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B3PWYBKFUK.com.boostcamp.membership.IssueTracker</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>B3PWYBKFUK</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>IssueTracker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4b2e0522-10ee-43ea-b196-85c46073c0e1</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.boostcamp.membership.IssueTracker</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B3PWYBKFUK</string>
				<key>name</key>
				<string>Codesquad Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
